<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleSignature</key>
	<string></string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>TouchStone needs access to your calendar to import events as stones (fixed time blocks).</string>
</dict>
</plist>
